name: Update npm packages

on:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    
    - name: Check out code
      uses: actions/checkout@v3

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install dependencies
      run: yarn install

    - name: Update packages
      run: yarn upgrade

    - name: Commit changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -am "Update npm packages" || echo "No changes to commit"
        git push

